.hidden {
    display: none;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    user-select: none;
}
header a{
    display: flex;
}
header .inline {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

header .inline svg{
     width: 2rem;
}

#landingPage{
    background-image: url(/images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#loginPage{
    .content {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    .form-group {
        margin-bottom: 15px;
        text-align: left;
    }

    .form-group label {
        font-size: 14px;
        color: #555;
        display: block;
        margin-bottom: 5px;
    }

    .form-group input[type="text"],
    .form-group input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
    }

    .form-group button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .form-group button:hover {
        background-color: #0056b3;
    }

    .error {
        color: #d9534f;
        font-size: 14px;
        margin-top: 10px;
    }
}

input, button, textarea, select {
    font: inherit;
    border: 1px solid;
    padding: 0.4rem;
    width: 100%;
}

p {
    text-wrap: pretty;
    margin-bottom: 1em;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-weight: 400;
}

img, video, svg {
    height: auto;
    max-width: 100%;
    display: block;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: currentColor;
}

li {
    list-style: none;
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

.wrapperPage {
    width: calc(100% - 5rem);
    max-width: 85rem;
}

header .wrapperPage {
    margin: auto;
}

header .wrapperPage .bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem 0 1rem;
    width: calc(100% - 5rem);
    background: #d5d5d5;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 1rem 1rem 0 0;
}

header img {
    max-height: 2.5rem;
}

header nav{
    display: flex;
    gap: 20px;
    align-items: center;
}

header .loginLink{
    padding: 0.4rem 2rem;
    background: linear-gradient(45deg, #057300, #014401);
    border-radius: 0.5rem;
    color: white;
}

header .registerLink{
    padding: 0.4rem 2rem;
    background: linear-gradient(45deg, #8d8d8d, #b1b1b1);
    border-radius: 0.5rem;
    color: white;
}

header nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

header a:hover,
header a.active {
    text-decoration: underline;
}

main {
    flex: 1;
    max-width: 75rem;
    width: calc(100% - 7.5rem);
    margin: auto;
}

footer {
    padding: 1rem;
    background: black;
    color: white;
}

footer .wrapperPage {
    margin: auto;
    text-align: center;
}

footer p {
    margin: 0;
}

.vehiculosPage{
    .inline .column img {
        width: 25px;
    }
    
    .inline {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0.4rem;
    }
    
    .inline p {margin: 0;line-height: unset;}

    .car-card:nth-child(even) {
        background: #e5e5e5;
    }
    
    .car-card {
        padding: 2rem;
        background: #d6d6d6;
        margin-bottom: 3rem;
        border-radius: 10px;
        box-shadow: 0px 1px 6px 0px #6a6a6a;
    }
    
    .car-card h2 {
        text-align: center;
    }
    
    .car-card>.inline {
        justify-content: space-around;
        margin-top: 2rem;
    }

    .animacion_coche {
        width: 500px;
        height: 200px;
        position: relative;
        overflow: hidden;
        background-color: #eee;
    }
    
    .animacion_coche svg {
        position: absolute;
        width: 290px;
        animation: car_move 10s infinite ease-in-out;
        bottom: -22px;
    }
    

    .alboleda {
        width: 1120px;
        position: absolute;
        max-width: 1120px;
        bottom: 0;
        animation: moverAlboleda 10s linear infinite;
        border-bottom: 5px dashed;
    }
}

@keyframes moverAlboleda {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-500px);
    }
}
    
@keyframes car_move {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    10% {
        transform: translateX(150px);
        opacity: 1;
    }
    30%{
        transform: translateX(10px);
        opacity: 1;
    }
    50% {
        transform: translateX(2000);
        opacity: 1;
    }
    70%{
        transform: translateX(150px);
        opacity: 1;
    }
    100% {
        transform: translateX(500px);
        opacity: 0;
    }
}
footer span {
    font-size: 0.8rem;
    font-weight: 300;
    color: #a5a5a5;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
}

.createButton{
    margin: auto;
    display: flex;
    background: #3086cc;
    color: white;
}

dialog[open] {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    @starting-style {
        opacity: 0;
    }
}

dialog {
    transition: opacity .3s ease-in-out,display .3s ease allow-discrete;
    opacity: 0;
    padding: 16px;
    transform: translate(-50%,-50%);
    color: currentColor;
    top: 50%;
    left: 50%;
    max-width: 600px;
    background-color: white;
    position: fixed;
    box-shadow: 0 0 7px 0px #808080;
    z-index: 10;
}

dialog form {
    text-align: center;
}

dialog label {
    font-weight: 300;
    font-size: 1rem;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
}

dialog button {
    cursor: pointer;
    margin-top: 1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 3px #666666;
}

dialog button[type=submit] {
    background: green;
    color: white;
}

dialog::backdrop {
    background: #8080802b;
    backdrop-filter: blur(3px);
}

#crearAlquilerDialog{
    dialog#PostdialogUsuario form {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem;
    }
    
    dialog#PostdialogUsuario {
        background-color: #e0e0e0;
    }
    .grid {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-column-gap: 10px;
        grid-row-gap: 1em;
    }
    p.text {
        font-weight: 300;
        color: #555555;
        text-align: justify;
    }
    .input-group {
        padding: 0.4rem;
        background: #e6e6e6;
        text-align: left;
    }
    .grid p#precio {
        margin-bottom: 0;
    }
    .inline_buttons {
        display: flex;
        gap: 1rem;
    }
    button.closeButtonModal {
        background-color: #cccccc;
        color: black;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #383838;
}

th {
    background-color: #515151;
    color: white;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 6px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.editButton {
    background-color: #4CAF50;
    color: white;
}

.editButton:hover {
    background-color: #45a049;
}

.deleteButton {
    background-color: #f44336;
    color: white;
}

.deleteButton:hover {
    background-color: #da190b;
}

td button {
    padding: 6px 12px;
    margin: 2px;
}

input[type=color] {padding: 0;}

/* Estilo para los campos del formulario */
.form-group {
    margin-bottom: 15px;
}

/* Etiquetas de los campos */
label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Estilo para los botones */
button {
    width: 100%;
    padding: 2px 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo al pasar el mouse sobre el botÃƒÂ³n */
button:hover {
    background-color: #45a049;
}

/* Mensaje de error */
#error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    display: none;
}

nav.user_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 1rem;
    width: calc(100% - 5rem);
    background: #4a4a4a;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    color: #ffffff;
    border-radius: 0 0 1rem 1rem;
    justify-content: flex-end;
}

#page_gest_user{
    form{
        display: grid;
        grid-template-columns: auto auto;
        gap:0.4rem;
    }
    #PostdialogUsuario{
        background-color: #e2e2e2;
    }
}

td button {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

td button svg {
    width: 1.7rem;
}